repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff-format
        name: ruff format
        args: [src/, tests/]
      - id: ruff
        name: ruff check
        args: [--fix, src/, tests/]
